.Swapspan {
  color: #5d5fef;
}

.MenuButton {
  display: flex;
  margin: auto;
}

.MenuItems {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
}
